/* Variables */

:root {
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 1, 1, 0.2);

  --basic-white: #FFFFFF;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --footer-background-white: rgba(255, 255, 255, 0.9);

  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --light-blue: #D8E9F1;

  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;

  --extra-dark-gray: #333333;
  --dark-gray: #666666;
  --gray: #EEEEEE;
  --light-gray: #E5E5E5;
  --background-gray: #F2F2F2;

  --checkbox-disabled-gray: #6A6A6A;
  --slider-gray: #ABABAB;
  --arrow-gray: #CACACA;
  --field-hover-gray: #EBEBEB;
  --icon-gray: #A9A9A9;
  --academy-logo-gray: #BDBBBC;
}

/* Global */

.page-body {
  min-width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--background-gray);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Wrapper */

.wrapper {
  background-color: var(--basic-white);
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  box-shadow: 0px 5px 15px var(--shadow);
}

.page-content {
  margin-bottom: -120px;
}

/* Main header */

.main-header {
  background-color: transparent;
}
/* Logo */

.main-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

/* Navigation*/

.main-navigation {
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.site-navigation li {
  width: 25%;
  padding: 14px 0 16px;
  box-sizing: border-box;
}

.align-left {
  text-align: left;
}

.align-left:nth-of-type(1) {
  padding-left: 72px;
}

.align-right {
  text-align: right;
}

.align-right:nth-of-type(4) {
  padding-right: 72px;
}

.site-navigation a {
  color: var(--basic-black);
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--opacity-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-blue);
}

/* First screen*/

.first-screen {
  background-color: var(--light-blue);
  background-image: url("../img/background-first-screen.jpg");
  height: 509px;
  display: flex;
  position: relative;
}

.first-screen::after {
  content: "";
  width: 100%;
  height: 56px;
  background-image: url("../img/shape.svg");
  position: absolute;
  bottom: 0;
}

.first-screen img {
  height: 350px;
  margin: 77px auto;
}

/* Opening */

.features-opening {
  padding-top: 41px;
  padding-bottom: 54px;
}

.features-opening-header {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  max-width: 519px;
  margin: 0 auto 45px;
}

.features-opening-text {
  margin: 0 auto 21px;
}

.features-opening p:last-child {
  margin: 0 auto;
}

/* Features */

.features {
  text-align: center;
}

.features-item {
  background-color: var(--gray);
}

.features-special-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item h3,
.features-special-item h3 {
  font-weight: 700;
  font-size: 21px;
  max-width: 152px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 330px 256px 256px;
}

.features-picture-right {
  grid-column: 1 / 4;
  display: flex;
}

.recomendation-wrapper {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.features-picture-left {
  grid-column: 1 / 4;
  display: flex;
}

.feature-item-card,
.features-item {
  width: 400px;
  box-sizing: border-box;
  padding: 45px 49px 42px 50px;
}

.feature-item-card h3,
.features-item h3 {
  margin: 0 auto 25px;
}

.feature-item-card p,
.features-item p {
  margin-top: 22px;
}

/* Recomendation */

.recomendation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
}

.recomendation-item {
  background-color: var(--basic-white);
  padding: 158px 52px 81px;
  position: relative;
}

.recomendation-item h3 {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.recomendation-item p {
  margin: 0;
}

.booking::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 163px;
}

.food::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 163px;
}

.gifts::before {
  content: "";
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-gift.svg");
  position: absolute;
  background-repeat: no-repeat;
  top: 56px;
  left: 168px;
}

/* Button */

.button {
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Hotel filter */

.hotel-search-form {
  height: 217px;
  padding: 25px 72px 31px;
  box-sizing: border-box;
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter {
  display: flex;
}

.filter-checkbox,
.filter-range {
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  border: none;
  width: 200px;
}

.filter-checkbox {
  margin-right: 54px;
}

.checkbox-legend,
.range-legend {
  font-weight: 700;
}

.checkbox-legend {
  font-size: 16px;
  margin-bottom: 24px;
}

.filter-option {
  margin-bottom: 24px;
  padding-left: 40px;
}

.input-checkbox + label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 26px;
  height: 23px;
  background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z" fill="white"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-checkbox:disabled + label::before {
  background-image: url('data:image/svg+xml,%3Csvg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z" fill="%236A6A6A"/%3E%3C/svg%3E');
}

.input-checkbox:checked + label::before {
  background-image: url('data:image/svg+xml,%3Csvg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z" fill="white"/%3E%3Cpath d="M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z" fill="white"/%3E%3C/svg%3E%0A');
}

.input-checkbox:checked:disabled + label::before {
  background-image: url('data:image/svg+xml,%3Csvg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z" fill="%236A6A6A"/%3E%3Cpath d="M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z" fill="%236A6A6A"/%3E%3C/svg%3E%0A');
}

.filter-range {
  width: 317px;
  margin-left: auto;
}

.range-legend {
  font-size: 16px;
  margin-bottom: 11px;
}

.price-controls {
  width: 318px;
  height: 35px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  margin-bottom: 11px;
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  background-image: url("../img/break.svg");
  background-repeat: no-repeat;
  background-position: 50.5% 50%;
}

.price-input {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  padding: 0;
  width: 50px;
}

.label-min-price {
  margin-left: 60px;
}

.label-max-price {
  margin-right: 27px;
}

.range-controls {
  width: 316px;
  height: 11px;
  margin-bottom: 24px;
  padding-top: 10px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--opacity-white);
}

.bar {
  width: 83%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  width: 4px;
  height: 4px;
  background-color: var(--slider-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--slider-gray);
  position: absolute;
  top: 1px;
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.1);
}

.toggle-max {
  left: 253px;
}

.filter-button {
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  padding: 8px 35px;
  margin-left: 84px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Hotel search */

.hotel-search {
  text-align: center;
  min-height: 291px;
  padding-top: 56px;
  box-sizing: border-box;
}

.hotel-search-opening {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  margin: 0 auto 32px;
}

.hotel-search-text {
  line-height: 24px;
  margin: 0 auto 45px;
  max-width: 568px;
}

.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  display: block;
  margin: 0 auto;
  padding: 30px 140px;
}

.hotel-search-button:hover {
  background-color: var(--hover-brown);
}

.hotel-search-button:focus {
  color: var(--opacity-white);
  background-color: var(--active-brown);
}

/* Modal of main page */

.modal {
  font-weight: 700;
  background-color: var(--basic-white);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 7px 15px var(--shadow);
  box-sizing: border-box;
  width: 570px;
  padding: 54px 55px 55px;
}

.modal-element-in {
  position: relative;
  margin: 0 auto 29px;
}

.modal-element-out {
  position: relative;
  margin: 0 auto 30px;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-element-adults {
  width: 226px;
  margin: 0;
  display: flex;
  align-items: center;
}

.modal-element-children {
  width: 179px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-input {
  font: inherit;
  border: none;
  background-color: var(--background-gray);
  box-sizing: border-box;
  padding: 6px 12px;
  text-transform: uppercase;
}

.modal-input::placeholder {
  color: inherit;
}

.modal-input:hover {
  background-color: var(--field-hover-gray);
}

.modal-input:focus,
.modal-input:active {
  background-color: transparent;
  border: 2px solid var(--light-gray);
  outline: none;
}

.input-adults,
.input-children {
  width: 38px;
  height: 38px;
  text-align: center;
}

.input-in,
.input-out {
  width: 346px;
  height: 38px;
}

.calendar {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 7px;
  right: 4px;
}

.calendar:hover path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--basic-blue);
}

.minus,
.plus {
  background-color: var(--background-gray);
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
}

.minus svg,
.plus svg {
  vertical-align: middle;
}

.minus:hover rect {
  fill: var(--basic-black);
}

.minus:active rect {
  fill: var(--basic-blue);
}

.plus:hover path {
  fill: var(--basic-black);
}

.plus:active path {
  fill: var(--basic-blue);
}

.modal-element-in label {
  margin-right: 21px;
}

.modal-element-out label {
  margin-right: 17px;
}

.modal-element-adults label {
  margin-right: 42px;
}

.modal-element-children label {
  margin-right: 27px;
}

.modal-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
  width: 100%;
  display: block;
  padding: 16px 0;
  margin-top: 55px;
}

.modal-button:hover {
  background-color: var(--hover-blue);
}

.modal-button:focus {
  background-color: var(--active-blue);
  color: var(--opacity-white);
}

/* Map */

.map {
  position: relative;
  overflow: hidden;
}

.map img {
  width: 1200px;
  height: 594px;
  display: block;
}

/* Main footer */

.main-footer {
  background-color: var(--footer-background-white);
  z-index: 1;
}

.main-footer-wrapper {
  padding: 0 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
  column-gap: 37px;
  align-items: center;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 23px;
  font-weight: 700;
  color: var(--basic-black);
  display: block;
  margin-bottom: 15px;
}

/* Socials */

.social-list {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item {
  margin-right: 6px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-button {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--active-blue);
}

.social-button:active path {
  opacity: 0.3;
}

/* Copyright */

.footer-copyright {
  line-height: 26px;
  width: 197px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-link {
  display: block;
  margin-top: 3px;
}

.footer-copyright-link:hover path {
  fill: var(--basic-blue);
}

.footer-copyright-link:active path {
  fill: var(--academy-logo-gray);
}

 /* Hotels page */

.hotels-wrapper {
  display: grid;
  grid-template-rows: min-content 86px min-content;
 }

 /* Hotel search result */

.hotel-search-result {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 0 72px;
 }

.result {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 48px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 7px;
}

.sort a {
  color: var(--opacity-black);
  border-bottom: 1px dashed var(--basic-blue);
  margin-left: 29px;
}

.sort a:nth-of-type(1) {
  margin-left: 37px;
}

.sort a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}
.sort a:active {
  color: var(--basic-black);
  border: none;
}

.sort a:not([href]) {
  color: var(--basic-blue);
  border: none;
}

.arrows {
  width: 36px;
  margin: 0;
  padding-top: 6px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.arrow-down {
  transform: rotate(180deg);
}

.arrow:hover path {
  fill: var(--basic-black);
}

.arrow:active path {
  fill: var(--basic-blue);
}

.arrow:not([href]) path {
  fill: var(--basic-blue);
}

/* Hotel search list */

.hotel-search-item {
  padding: 24px 72px 30px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.hotel-image {
  margin-right: 30px;
  margin-top: 6px;
}

.hotel-image img {
  display: block;
}

.hotel-card-header {
  color: var(--basic-black);
}

.hotel-card-header:hover {
  color: var(--basic-blue);
}

.hotel-card-header:active {
  color: var(--opacity-black);
}

.hotel-card-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 6px;
}

.hotel-type-price {
  margin: 0;
  margin-bottom: 17px;
}

.hotel-type {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin-right: 3px;
}

.buttons-wrapper {
  margin: 0;
}

.button-more {
  background-color: var(--basic-blue);
  padding: 4px 16px;
  margin-right: 3px;
}

.button-more:hover {
  background-color: var(--hover-blue);
}

.button-more:active {
  color: var(--opacity-white);
  background-color: var(--active-blue);
}

.button-booking {
  background-color: var(--basic-brown);
  padding: 4px 16px;
}

.button-booking:hover {
  background-color: var(--hover-brown);
}

.button-booking:active {
  color: var(--opacity-white);
  background-color: var(--active-brown);
}

.hotel-rating {
  margin-left: auto;
}

.rating {
  color: var(--dark-gray);
  background-color: var(--background-gray);
  line-height: 27px;
  text-align: center;
  padding: 0 14px;
  margin: 0;
}

.rating-stars {
  height: 17px;
  margin: 7px 0 45px auto;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}
