/* Variables */

:root {
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.3);

  --basic-white: #FFFFFF;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --footer-background-white: rgba(255, 255, 255, 0.9);

  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --light-blue: #D8E9F1;

  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;

  --extra-dark-gray: #333333;
  --dark-gray: #666666;
  --gray: #EEEEEE;
  --light-gray: #E5E5E5;
  --background-gray: #F2F2F2;

  --checkbox-disabled-gray: #6A6A6A;
  --slider-gray: #ABABAB;
  --arrow-gray: #CACACA;
  --field-hover-gray: #EBEBEB;
  --icon-gray: #A9A9A9;

  --active-copyright-logo: #231F20;
}

/* Global */

.page-body {
  min-width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--background-gray);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Wrapper */

.wrapper {
  background-color: var(--basic-white);
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  background-color: transparent;
}
/* Logo */

.main-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

/* Navigation*/

.main-navigation {
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 56px;
  text-align: center;
}

.site-navigation li {
  width: 25%;
  padding: 13px 0;
  box-sizing: border-box;
}

.align-left {
  text-align: left;
}

.align-left:nth-of-type(1) {
  padding-left: 72px;
}

.align-right:nth-of-type(4) {
  padding-right: 72px;
}

.align-right {
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--opacity-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

/* First screen*/

.first-screen {
  background-color: var(--light-blue);
  height: 509px;
  display: flex;
}

.first-screen img {
  margin: auto;
}

/* Opening */

.features-opening {
  min-height: 215px;
  box-sizing: border-box;
  padding-top: 41px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features-opening p {
  max-width: 519px;
  margin: 0 0 21px;
  padding: 0;
}

.features-opening p:last-child {
  margin: 0;
}

.features-opening-header {
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

/* Features */

.features {
  text-align: center;
}

.features-item {
  background-color: var(--gray);
}

.features-special-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item h3,
.features-special-item h3 {
  font-weight: 700;
  font-size: 21px;
  max-width: 152px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:
  256px
  330px
  256px
  256px;
}

.features-picture-right {
  grid-column: 1 / 4;
  display: flex;
}

.recomendation-wrapper {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.features-picture-left {
  grid-column: 1 / 4;
  display: flex;
}

.feature-item-card,
.features-item {
  width: 400px;
  box-sizing: border-box;
  padding: 35px 49px 42px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feature-item-card h3,
.features-item h3 {
  margin: 0;
}

.feature-item-card span,
.features-item span {
}

.feature-item-card p,
.features-item p {
  margin: 0;
}

/* Recomendation */

.recomendation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
}

.recomendation h3 {
  font-weight: 700;
  font-size: 21px;
}

.recomendation-item {
  background-color: var(--basic-white);
  padding: 0 52px 81px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.recomendation-item h3 {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 104px;
}

.recomendation-item p {
  margin: 0;
}

/* Button */

.button {
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* Hotel search */

.hotel-search {
  text-align: center;
  min-height: 291px;
  padding-top: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search p {
  line-height: 24px;
  margin: 0 auto 34px;
  max-width: 568px;
}

.hotel-search-opening {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  margin-top: auto;
}

.hotel-search-button:hover {
  background-color: var(--hover-brown);
}

.hotel-search-button:focus {
  color: var(--opacity-white);
  background-color: var(--active-brown);
}

/* Modal of main page */
.modal {
  text-align: center;
  background-color: var(--basic-white);
}

.modal-button {
  background-color: var(--basic-blue);
}

.modal-button:hover {
  background-color: var(--hover-blue);
}

.modal-button:focus {
  background-color: var(--active-blue);
  color: var(--opacity-white);
}

/* Map */

.map {
  height: 594px;
  margin-bottom: -120px;
}

/* Main footer */

.main-footer {
  background-color: var(--footer-background-white);
}

.main-footer-wrapper {
  padding: 0 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
  column-gap: 37px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 23px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 12px;
}

.footer-contacts a:hover {
  color: var(--basic-blue);
}

.footer-contacts a:focus {
  color: var(--opacity-black);
}

.footer-contacts a:not([href]) {
  color: var(--basic-brown);
}

/* Socials */

.footer-social {
  display: flex;
}

.social-list {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.social-button {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--active-blue);
}

/* Copyright */

.footer-copyright {
  line-height: 26px;
  width: 197px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 /* Hotels page */

 .hotels-wrapper {
  display: grid;
  grid-template-rows: min-content 86px min-content;
  padding: 0 72px;
 }

 /* Hotel search result */

 .result {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
 }

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort a {
  color: var(--opacity-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}
.sort a:active {
  color: var(--basic-black);
  border: none;
}

.sort a:not([href]) {
  color: var(--basic-blue);
  border: none;
}

/* Hotel search list */

.hotel-card-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-card-header {
  color: var(--basic-black);
}

.hotel-card-header:hover {
  color: var(--basic-blue);
}

.hotel-card-header:active {
  color: var(--opacity-black);
}

.button-more {
  background-color: var(--basic-blue);
}

.button-more:hover {
  background-color: var(--hover-blue);
}

.button-more:active {
  color: var(--opacity-white);
  background-color: var(--active-blue);
}

.button-booking {
  background-color: var(--basic-brown);
}

.button-booking:hover {
  background-color: var(--hover-brown);
}

.button-booking:active {
  color: var(--opacity-white);
  background-color: var(--active-brown);
}

.rating {
  color: var(--dark-gray);
  background-color: var(--background-gray);
}
