/* Variables */

:root {
	--basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.3);
	--basic-white: #FFFFFF;
	--opacity-white: rgba(255, 255, 255, 0.3);
	--footer-background-white: rgba(255, 255, 255, 0.9);

	--basic-blue: #81B3D2;
	--hover-blue: #669EC0;
	--active-blue: #5496BD;
	--light-blue: #D8E9F1;

	--basic-brown: #766357;
	--hover-brown: #604E43;
	--active-brown: #503E33;

	--extra-dark-gray: #333333;
	--dark-gray: #666666;
	--gray: #EEEEEE;
	--light-gray: #E5E5E5;
	--background-gray: #F2F2F2;

	--checkbox-disabled-gray: #6A6A6A;
	--slider-gray: #ABABAB;
	--arrow-gray: #CACACA;
	--field-hover-gray: #EBEBEB;
	--icon-gray: #A9A9A9;

	--active-copyright-logo: #231F20;
}

/* Global */

.page {
	height: 100%;
	background-color: var(--background-gray);
}

.page-body {
	max-width: 1200px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-black);
	text-transform: uppercase;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main header */

.main-header {
	background: transparent;
}
/* Logo */

.main-logo {
	justify-self: center;
}

/* Navigation*/

.main-navigation {
	background-color: var(--basic-white);
}

.site-navigation a {
	color: var(--basic-black);
	line-height: 26px;
	font-weight: 700;
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--opacity-black);
}

.site-navigation a:not([href]) {
	color: var(--basic-brown);
}

/* Wrapper */

.wrapper {
	background-color: var(--basic-white);
}

/* First screen*/

.first-screen {
	background-color: var(--light-blue);
	text-align: center;
}

/* Opening */

.features-opening {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

/* Features */

.features {
	text-align: center;
}

.features-item {
	background-color: var(--gray);
}

.features-special-item {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.features-item h3,
.features-special-item h3 {
	font-weight: 700;
	font-size: 21px;
}

.features-picture-right,
.features-picture-left,
.feature-item-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 256px;
}

.features-picture-right .feature-item-card {
	grid-column: 1 / 2;
}

.features-picture-right img {
	grid-column: 2 / span 2;
}

.features-picture-left .feature-item-card {
	grid-column: 3 / 4;
}

.features-picture-left img {
	grid-column: 1 / span 2;
}

/* Recomendation */

.recomendation h3 {
	font-weight: 700;
	font-size: 21px;
}

.recomendation-item {
	background-color: var(--basic-white);
}

.recomendation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 330px;
}

/* Button */

.button {
	font: inherit;
	font-weight: 700;
	text-align: center;
	color: var(--basic-white);
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

/* Hotel search */

.hotel-search {
	text-align: center;
}

.hotel-search-opening {
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
}

.hotel-search-button {
	font-size: 21px;
	line-height: 26px;
	background-color: var(--basic-brown);
}

.hotel-search-button:hover {
	background-color: var(--hover-brown);
}

.hotel-search-button:focus {
	color: var(--opacity-white);
	background-color: var(--active-brown);
}

/* Modal of main page */
.modal {
	text-align: center;
	background-color: var(--basic-white);
}

.modal-button {
	background-color: var(--basic-blue);
}

.modal-button:hover {
	background-color: var(--hover-blue);
}

.modal-button:focus {
	background-color: var(--active-blue);
	color: var(--opacity-white);
}

/* Main footer */

.main-footer {
	background-color: var(--footer-background-white);
}

.main-footer-wrapper {
  max-width: 1054px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 37px;
}

.footer-contacts {
	text-align: center;
}

.footer-contacts a {
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.footer-contacts a:hover {
	color: var(--basic-blue);
}

.footer-contacts a:focus {
	color: var(--opacity-black);
}

.footer-contacts a:not([href]) {
	color: var(--basic-brown);
}

/* Socials */

.social-button {
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--hover-blue);
}

.social-button:active {
	background-color: var(--active-blue);
}

/* Copyright */

.footer-copyright {
	line-height: 26px;
}
 /* Hotels page */

 /* Hotel search */

 .result {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
 }

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort a {
  color: var(--opacity-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}
 .sort a:active {
  color: var(--basic-black);
  border: none;
}

.sort a:not([href]) {
  color: var(--basic-blue);
  border: none;
}

/* Hotel search result */

.hotel-card-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-card-header {
  color: var(--basic-black);
}

.hotel-card-header:hover {
  color: var(--basic-blue);
}

.hotel-card-header:active {
  color: var(--opacity-black);
}

.button-more {
  background-color: var(--basic-blue);
}

.button-more:hover {
  background-color: var(--hover-blue);
}

.button-more:active {
  color: var(--opacity-white);
  background-color: var(--active-blue);
}

.button-booking {
  background-color: var(--basic-brown);
}

.button-booking:hover {
  background-color: var(--hover-brown);
}

.button-booking:active {
  color: var(--opacity-white);
  background-color: var(--active-brown);
}

.rating {
  color: var(--dark-gray);
  background-color: var(--background-gray);
}
